body {
  box-sizing: border-box;
  color: #2d3c49;
}

img {
  max-width: 100%;
}

h1, h2, h3 {
  font-family: 'Josefin Sans', sans-serif;
  color: #0288d1;
}

h4{
  font-family: 'Josefin Slab', serif;
}

p{
  font-family: 'Domine', serif;
  line-height: 2em;
}

a {
  color: #0288d1;
  text-decoration: none;
}

/* Styles for the header area that includes logo, title and navigation */
.main-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #0288d1;
  /* background-color: #7d97ad; */
  color: white;
  max-height: 180px;
  }

.logo {
  width: 30%;
  padding: 10px;
}

.profile {
  border: solid 2px white;
  border-radius: 50%;
  max-height: 150px;
}

.name {
  width: 60%;
  order: 1;
}

.name h1 {
  color: white;
}

.name h4 {
  margin-top: -15px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.banner {
  width: 100%;
  height: 300px;
  background: linear-gradient(transparent, white), url("../img/coding2.jpg") no-repeat left;
  background-size: cover;
}

.banner-text {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  margin-top: -230px;
  margin-bottom: 20px;
  order:1;
  text-align: center;
  width: 80%;
  max-width: 1000px;
  box-shadow: 3px 3px 21px -4px rgba(0,0,0,0.75);
}

/* Style for the portfolio section */
.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-heading {
  width: 100%;
  margin-top: 30px;
  text-align: center;
}

.featured {
  width: 80%;
  margin: 5px;
  padding: 10px 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 3px 3px 21px -4px rgba(0,0,0,0.75);
}

.featured p {
  font-size: 0.8em;
  line-height: 1.2em;
}

/* Styling for the footer section */
footer {
  min-height: 40px;
  margin-top: 50px;
  background-color: #7d97ad;
  color: white;
  text-align: center;
  font-size: 12px;
}

footer a:visited {
  color: white;
}
.footer-nav {
  padding-top: 5px;
}

@media screen and (min-width:500px) {
  .banner-text{
    padding: 30px 50px;
  }

  .featured {
    width: 70%;
  }
}

@media screen and (min-width:550px) {
  .one, .two {
    width: 40%;
  }
  .three {
    width: 70%;
  }
}

@media screen and (min-width:750px) {
  .one, .two, .three {
    width: 28%;
    max-width: 300px;
  }
}
